/* PROJETO CARDÁPIO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 100vh;
    background-color: #f9cb8a;
}

#linha_topo{
    position: fixed;
    width: 100%;
    top: 0;
}

#topo{
    background-color: #f4ae4a;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#topo #logo{
    width: 160px;
    height: 160px;
    margin-right: 1%;
    margin-top: 2%;
}

#topo #logo img{
    margin-top: 5%;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#topo h1{
    font-size: 70px;
    color: #3d1a00;
}

#menu{
    background-color: #f4ae4a;
    display: flex;
    justify-content: center;
}

#menu ul{
    list-style: none;
}

#menu ul li{
    display: inline;
}

#menu ul li a{
    display: inline-block;
    padding: 10px 20px;
    color: rgb(16, 16, 16);
    font-size: 17px;
}

#menu ul li a:hover{
    background-color: #f8c277;
}

#conteudo{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 190px;
}

#p1{
    height: 100vh;
    padding-top: 220px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.card{
    width: 300px;
    height: 400px;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px  #000000;
    background-color: #f8c277;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.card img{
    width: 280px;
    height: 280px;
    background-color: rgb(13, 2, 61);
    border-radius: 15px;
}

.card h2{
    font-size: 2em;
    display: flex;
    text-align: center;
}

.card h4{
    font-size: 1em;
    display: flex;
    text-align: center;
}

.card p{
    font-size: 1em;
    display: flex;
    text-align: center;
}

#p2{
    height: 100vh;
    padding-top: 220px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

#p3{
    height: 100vh;
    padding-top: 220px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

#p4{
    height: 100vh;
    padding-top: 220px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

#rodape{
    height: 120px;
    background-color: #f4ae4a;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#esquerda{
    font-size: 1em;
    width: 35%;
    text-align: center;
    font-size: 25px
}


#centro{
    width: 30%;
    font-size: 1em;
    text-align: center;
}

#direita{
    width: 35%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#rodape #centro h3{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}